# temp files
.DS_Store
.tmp
.sass-cache

node_modules
build/
*~

#IDE ignores
.idea/
package-lock.json
*.log
log
.vscode
.env
coverage
.github/
deploy/
.nyc_output

# secrets
.env
.env.local
config-map.yaml