PORT=9000
MONGO_DATABASE_URL= mongodb://localhost:27017/nebengjek
SERVICE_NAME= user-service

# ------------------------------------------------------------------
# Authentication
# ------------------------------------------------------------------
BASIC_AUTH_USERNAME= soldev
BASIC_AUTH_PASSWORD= da1c25d8-37c8-41b1-afe2-42dd4825bfea
PUBLIC_KEY_PATH= 
PRIVATE_KEY_PATH= 
PUBLIC_KEY_REFRESH_PATH= 
PRIVATE_KEY_REFRESH_PATH= 
JWT_SIGNING_ALGORITHM=RS256
JWT_AUDIENCE=97b33193-43ff-4e58-9124-b3a9b9f72c34
JWT_ISSUER=soldev
JWT_EXPIRATION_TIME=1d
REFRESH_JWT_EXPIRATION_TIME=1d

# ------------------------------------------------------------------
# Cipher
# ------------------------------------------------------------------
CIPHER_ALGORITHM=aes-256-cbc
CIPHER_IV_LENGTH=16
CIPHER_KEY=f0wEDMx2RP0CYkaUl5iJjH7vMqF65szS